<footer>
                                    <div class="container">
                                         <div class="row">
                                              <div class="col-md-6 col-sm-4 footerleft ">
                                                    <div class="logofooter"> David Jiang</div>
                                                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                                      <p><i class="fa fa-map-pin"></i> 12345 Brooklyn, New York, 11209</p>
                                                      <p><i class="fa fa-phone"></i> Phone (U.S.) : 1 644 654 6544</p>
                                                      <p><i class="fa fa-envelope"></i> E-mail :  djiang22@yahoo.com</p>
                                                </div>
                                                <div class="col-md-2 col-sm-4 paddingtop-bottom" id="nav-bottom">
                                                      <h6 class="heading7">LINKS</h6>
                                                      <ul class="footer-ul">
                                                            <li><a href="https://dj-design-studio.herokuapp.com/"> Home</a></li>
                                                            <li><a href="https://dj-design-studio.herokuapp.com/"> Projects</a></li>
                                                      </ul>
                                                </div>

                                             <div class="col-md-3 col-sm-4 paddingtop-bottom pull-right">
                                                   <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                                         <div class="fb-xfbml-parse-ignore">
                                                               <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></blockquote>
                                                         </div>
                                                         <div class="fb-xfbml-parse-ignore">
                                                               <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></blockquote>
                                                         </div>
                                                         <div class="fb-xfbml-parse-ignore">
                                                               <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook"><i class="fa fa-free-code-camp" aria-hidden="true"></i>  FreeCodeCamp</a></blockquote>
                                                         </div>
                                                         <div class="fb-xfbml-parse-ignore">
                                                               <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a></blockquote>
                                                         </div>
                                                   </div>
                                             </div>
                                      </div>
                                    </div>
                              </footer>

                                    <div class="copyright">
                                          <div class="container">
                                               <div class="col-md-12 ">
                                                    <p>© 2017 - DJ Design Studio</p>
                                             </div>
                                          </div>
                                    </div>