      <div class="footer">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
                              <ul class="link-list">
                                    <li class="link-item"><a href="#">Your Account</a></li>
                                    <li class="link-item"><a href="#">Get Support</a></li>
                                    <li class="link-item"><a href="#">About Nexon</a></li>
                                    <li class="link-item2"><a href="#">Privacy Policy</a></li>
                              </ul>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
                              <p class="footer-copy"><img class="nex_logo_footer" src="../img/MSimg/nex_logo.png" alt="">  © 2017 NEXON Korea Corporation and NEXON America Inc. All Rights Reserved</p>
                        </div>
                  </div>
            </div>
      </div>