body{
    /*background-image: url("../image/cover.jpg");*/
    /*background-repeat: no-repeat;*/
    height: 100vh;
    /*min-width: 1200px;*/
}

.content{
      background-image: url("../image/bg_ghosted_grey.jpg");
      height: 1800px;
      border-top: black 7px solid;
      background-size: cover;
}

p{
      display: block;
}

/*============NAV BAR DECOR================*/
.nav-bar1{
    background-color: #000000 !important;
    padding: 0px;
      border-bottom: 2px solid #00A7CC;
}

.nav-bar2{
    background-color: #000000 !important;
    border-bottom: 1px solid gray;
    padding: 0;
    margin: 0;
}

.nav-item{
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.4em;
    margin-left: 20px;
}

.navbar .navbar-brand{
      font-family: 'Jomhuria', cursive;
            /*font-size: 4em;*/
      letter-spacing: 2px;
      padding: 0;
      margin: 0;
      font-weight: lighter;
}


.nav-bar2 .navbar-brand{
      margin-left: 20rem;
      margin-right: 5rem !important;
      padding-bottom: 3px;
}

.btn{
      margin: 0 10px 0 5px;
      line-height: 1;
}

.nex_logo{
      height: 26px;
      width: 91px;
}
/*==DROP DOWN DECOR==*/
.navbar-dark .navbar-nav .nav-link{
      color: white;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-item{
      font-size: 1.35em;
      color: white;
      background: rgba(51,51,51,0.9);
      border-bottom: 1px gray solid;
}

.dropdown-item:hover{
      background: rgba(51,51,51,0.9);
      color: #e64120;
}

/*==FONT AWESOME ICONS==*/
.fa-facebook-square, .fa-twitter-square, .fa-youtube-square{
      color: rgba(147,206,222,1);
      padding: 11px 0 0 20px;
      margin-bottom: 10px;
}

/*===CONTENT CSS==*/
.content-description{
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 600;
}
.thumbnail img{
      width: 100%;
      height: auto;
}
.caption, .caption2{
      background-color: white !important;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      height: 180px;
      padding-bottom: 10px;
}

.caption a, .caption2 a{
      text-decoration: none;
      color: #2b2725;
}

.caption h3, .caption2 h3{
      font-weight: 700;
      padding:10px 0 0 20px;
      font-size: 25px;
      word-wrap: break-word;
}
.caption h3:hover, .caption2 h3:hover{
      color:  #0099cc;
}
.caption p , .caption2 p{
      padding:10px 20px 20px 20px;
      font-size: 18px;
      line-height: 1.1;
      word-wrap: break-word;
      color: #2b2725;
}

.caption2 {
      color: #777;
      text-align: left;
      float: left;
      background: white;
      height: 268px;
      width: 100%;
      padding: 5px 10px 0 20px;
}

h3{
      font-weight: 1000;
}

.timeStamp{
      left: 20px;
      bottom: -15px;
      font-family: "Titillium Web",arial,sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      position: absolute;
      padding-top: 10px;
}

.readMore{
      position: absolute;
      right: 20px;
      bottom: -15px;
      font-family: "Titillium Web",arial,sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      padding-top: 10px;
}

.readMore a:hover{
      color: #0099cc;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.single{
      padding-bottom: 15px;
}
/*===MEDIA QUERIES==*/
@media (max-width: 1300px){
      .nav-bar2 .navbar-brand{
            margin-left: 8rem !important;
      }
}

@media (max-width: 1200px){
      .nav-bar2 .navbar-brand{
            margin-left: 10rem !important;
      }

      .caption2{
            height: 227px;
      }
}
@media (max-width: 1106px){
      .nav-bar2 .navbar-brand{
            margin-left: 1.5em !important;
      }

      .caption2{
            height: 227px;
      }
}

@media (max-width: 1016px){
      .nav-bar2 .navbar-brand{
            margin-left: 1.5rem !important;
      }
}

@media (max-width: 989px){
      .nav-bar2 .navbar-brand{
            margin-left: 26rem !important;
      }
      .caption, .caption2{
            height: 160px;
      }
      .thumbnail{
            padding-top: 10px;
      }

      .padding-0{
            padding-top: 0;
            padding-bottom: 0;
      }

      .content{
            height: 3600px;
      }

      .caption2{
            height: 200px;
      }
}

@media (max-width: 900px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }
      .caption{
            height: 200px;
      }

      .caption2{
            height: 200px;
      }

}

@media (max-width: 800px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }

}

@media (max-width: 700px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }
      .caption{
            height: 220px;
      }
      .caption2{
            height: 230px;
      }

}


@media (max-width: 550px){
      .nav-bar2 .navbar-brand{
            margin-left: 9rem !important;
      }
      .padding-0{
            padding-right: 10px;
            padding-left: 10px;
      }

      .caption2{
            height: 280px;
      }
}

@media (max-width: 500px){
      .nav-bar2 .navbar-brand{
            margin-left: 8rem !important;
      }


}

@media (max-width: 414px){
      .nav-bar2 .navbar-brand{
            margin-left: 20rem !important;
      }

      /*.thumbnail > img{
            height: 200px;
      }*/
}
