body{
    /*background-image: url("../image/cover.jpg");*/
    /*background-repeat: no-repeat;*/
    height: 100vh;
}

.content{
      background-image: url("../image/bg_ghosted_grey.jpg");
      height: 1200px;
      border-top: black 7px solid;
      background-size: cover;
}

p{
      display: block;
}

/*============NAV BAR DECOR================*/
.nav-bar1{
    background-color: #000000 !important;
    padding: 0px;
      border-bottom: 2px solid #00A7CC;
}

.nav-bar2{
    background-color: #000000 !important;
    border-bottom: 1px solid gray;
    padding: 0;
    margin: 0;
}

.nav-item{
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.4em;
    margin-left: 20px;
}

.navbar .navbar-brand{
      font-family: 'Jomhuria', cursive;
            /*font-size: 4em;*/
      letter-spacing: 2px;
      padding: 0;
      margin: 0;
      font-weight: lighter;
}


.nav-bar2 .navbar-brand{
      margin-left: 20rem;
      margin-right: 5rem !important;
      padding-bottom: 3px;
}

.btn{
      margin: 0 10px 0 5px;
      line-height: 1;
}

.nex_logo{
      height: 26px;
      width: 91px;
}
/*==DROP DOWN DECOR==*/
.navbar-dark .navbar-nav .nav-link{
      color: white;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-item{
      font-size: 1.35em;
      color: white;
      background: rgba(51,51,51,0.9);
      border-bottom: 1px gray solid;
}

.dropdown-item:hover{
      background: rgba(51,51,51,0.9);
      color: #e64120;
}

/*==FONT AWESOME ICONS==*/
.fa-facebook-square, .fa-twitter-square, .fa-youtube-square{
      color: rgba(147,206,222,1);
      padding: 11px 0 0 20px;
      margin-bottom: 10px;
}

/*===CONTENT CSS==*/
.content-description{
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 600;
}
.thumbnail img{
      width: 100%;
      height: auto;
}
.caption{
      background-color: white !important;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      height: 180px;
      padding-bottom: 10px;
}

.caption a{
      text-decoration: none;
      color: #2b2725;
}

.caption h3{
      font-weight: 700;
      padding:10px 0 0 20px;
      font-size: 25px;
      word-wrap: break-word;
}
.caption h3:hover{
      color: #e64120;
}
.caption p{
      padding:10px 20px 20px 20px;
      font-size: 18px;
      line-height: 1.1;
      word-wrap: break-word;
}

.timeStamp{
      left: 20px;
      bottom: -15px;
      font-family: "Titillium Web",arial,sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      position: absolute;
      padding-top: 10px;
}

.readMore{
      position: absolute;
      right: 20px;
      bottom: -15px;
      font-family: "Titillium Web",arial,sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      padding-top: 10px;
}

.readMore a:hover{
      color: #0099cc;
}
/*===MEDIA QUERIES==*/
@media (max-width: 1300px){
      .nav-bar2 .navbar-brand{
            margin-left: 8rem !important;
      }
}

@media (max-width: 1200px){
      .nav-bar2 .navbar-brand{
            margin-left: 10rem !important;
      }

      .caption{
            height: 200px;
      }
}
@media (max-width: 1106px){
      .nav-bar2 .navbar-brand{
            margin-left: 1.5em !important;
      }
}

@media (max-width: 1016px){
      .nav-bar2 .navbar-brand{
            margin-left: 1.5rem !important;
      }
}

@media (max-width: 989px){
      .nav-bar2 .navbar-brand{
            margin-left: 26rem !important;
      }
      .caption{
            height: 210px;
      }
      .thumbnail{
            padding-top: 10px;
      }

      .content{
            height: 2000px;
      }
}

@media (max-width: 900px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }

}

@media (max-width: 550px){
      .nav-bar2 .navbar-brand{
            margin-left: 9rem !important;
      }


}

@media (max-width: 500px){
      .nav-bar2 .navbar-brand{
            margin-left: 8rem !important;
      }

}

@media (max-width: 414px){
      .nav-bar2 .navbar-brand{
            margin-left: 20rem !important;
      }

}
