body{
    background-image: url("../image/cover.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}

.nav-bar1{
    background-color: #000000 !important;
}
.nav-item{
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.2em;
}

.navbar .navbar-brand{
    font-size: 1.7rem;
    font-family: "Times New Roman", Georgia, Serif;
    /*padding: 0 50px 0 350px;*/
    font-weight: bolder;
    background-repeat: no-repeat;
}

.navbar1{

}
.navbar img{
    width: 15%;
    height: 15%;
    margin-left: 20%;
}

.nav-item:hover{
    color:
}
