<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>David's Profile</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="stylesheets/portfolio.css" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
            <!--<link rel="stylesheet" href="../stylesheets/footer-header.css" type="text/css">-->
      </head>
      <body>
                  <div class="pageOne" id="home">
                        <nav class="navbar navbar-custom">
                              <div class="container ">
                                    <div class="container-fluid">
                                      <!-- Brand and toggle get grouped for better mobile display -->
                                      <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                          <span class="sr-only">Toggle navigation</span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                          <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="#">David Jiang</a>
                                      </div>

                                      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                           <ul class="nav navbar-nav navbar-right">
                                                 <li ><a href="#" id="homelink">Home</a></li>
                                                 <li><a href="#" id="aboutlink">About</a></li>
                                                 <li><a href="#" id="portfoliolink">Portfolio</a></li>
                                                 <li><a href="#" id="contactlink">Contact</a></li>
                                           </ul>
                                      </div>
                                    </div>
                              </div>
                        </nav>

                        <div class="container containermargin">
                              <div class="load_effect">
                              
                                    <div class="row">
                                          <div class="block text-center ">
                                                <h1>DJ Design Studio</h1>
                                          </div>
                                    </div>
                                    <br><br>
                                    <hr class=".no-flickr load_effect">
                                    <br>
                                    <div class="text-center col-md-12 col-sm-12 col-xs-12 load_effect">
                                          <a class="btn btn-default" href="https://github.com/david2999999"> <i class="fa fa-github fa-lg" aria-hidden="true"></i>  GitHub</a>
                                          <a target="_blank" class="btn btn-default" href="https://www.linkedin.com/in/david-jiang-755818149/"> <i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a>
                                          <a target="_blank" class="btn btn-default" href="https://app.joinhandshake.com/users/5014395"><i class="fa fa-handshake-o" aria-hidden="true"></i> Handshake</a>
                                          <a target="_blank" class="btn btn-default" href="https://www.freecodecamp.org/david2999999"><i class="fa fa-free-code-camp" aria-hidden="true"></i> FreeCodeCamp</a>
                                    </div> 
                              </div>

                        </div>

                  </div>

                  <div class="pageTwo" id="about">
                        <div class="container">
                              <div class="row">
                                    <div class="discription col-md-12 col-sm-12 col-xs-12 block2 text-center">
                                          <h1>David Jiang</h1>
                                          <p>I'm a self taught web designer and programmer from Binghamton University. I'm currently pursuing my degree in computer engineering, while also taking part in a small web and game development team.
                                                My passion is bringing ideas to life and also solving real world challenges. <br> <br>Languages and Frameworks: HTML5, CSS3, Javascript, jQuery, Java, Express, Mongoose, Bootstrap3, SemanticUI.
                                                <br> <br>Tools &amp; Expertise: Node.js, Git, MongoDB, Heroku, Unity2D.</p>
                                    </div>
                              </div>
                        </div>
                  </div>

                  <div class="pageThree" id="portfolio">
                        <div class="container">
                              <h1 class="text-center portheader">Personal Projects</h1>
                        </div>
                        <div class="container-fluid">
                              <div class="row display-flex rowstyle " style="display:flex; flex-wrap: wrap;">

                                    
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow yellow">
                                                <a target="_blank" href="https://autumn-petals.herokuapp.com/">
      
                                                      <div class="imgthumbnail">
                                                            <img src="img/game.PNG" alt="Autumn Petals">
                                                      </div>
                                                      <div class="overlay ">
                                                            <h1 class="text-center padding">Autumn Petals</h1>
                                                            <h2 class="text-center padding2">Official Website for the online game <em>Autumn Petals</em>. Online multiplayer farming and adventure game.  HTML, CSS, JavaScript, Node.js, MongoDB, Unity2D, C# (Currently, still in development)</h2>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
                                    
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow yellow">
                                                <a target="_blank" href="https://movies-imdb-api.herokuapp.com/">
                                                      <div class="imgthumbnail">
                                                            <img src="img/movie.PNG" alt="Cinema HD">
                                                      </div>
                                                      <div class="overlay ">
                                                            <h1 class="text-center padding">Cinema HD</h1><br><br>
                                                            <h2 class="text-center padding2">Movie search website using IMDb's API. HTML,CSS, Javascript, Bootstrap, Node.js, Express, API (Currently Still in Development)</h2>
                                                      </div>
                                                </a>                                                
                                          </div>
                                    </div>
                                    
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow yellow">
                                                <a href="https://yelp-camp-dj.herokuapp.com/">
                                                      <div class="imgthumbnail">
                                                            <img src="img/dj.PNG" alt="DJ Design Studio">
                                                      </div>
                                                      <div class="overlay">
                                                            <h1 class="text-center padding">DJ Design Studio</h1><br><br>
                                                            <h2 class="text-center padding2">Personal profile project. HTML,CSS, Javascript, BootStrap, Node.js, Express,Git</h2>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
                              </div>
                              
                              <div class="container portheader text-center">
                                    <h1>Web Developer BootCamp</h1>
                              </div>
                              <div class="row display-flex rowstyle" style="display:flex; flex-wrap: wrap;">      

                                    
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow2 yellow">
                                                <a href="/TWDB/color-game" target="_blank">
                                                      <div class="imgthumbnail">
                                                            <img src="img/colt.jpg" alt="Colt Steele Web BootCamp">
                                                      </div>
                                                      <div class="overlay">
                                                            <h1 class="text-center padding">The Web Developer BootCamp</h1><br><br>
                                                            <h2 class="text-center padding2">Projects from The Web Developer BootCamp (Udemy Course by Colt Steele). HTML, CSS, Javascript, JQuery, BootStrap,SemanticUI, Node.js, Express, Mongoose, Git</h2>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
            
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow2 yellow">
                                                <a target="_blank" href="https://yelp-camp-dj.herokuapp.com/" target="_blank">
                                                      <div class="imgthumbnail">
                                                            <img src="img/yelpCamp.PNG" alt="Yelp Camp">
                                                      </div>  
                                                      <div class="overlay">
                                                            <h1 class="text-center padding">Eternal Venus</h1>
                                                            <h2 class="text-center padding2">Revamped version of Yelp Camp, a project from Colt Steele's Web Developer BootCamp (Udemy). Users can sign up and contribute to the webpage by submitting photos. HTML, CSS, JavaScript, BootStrap, Node.js, Express, MongoDB. </h2>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow2 yellow">
                                                <a target="_blank" href="/TWDB/Mountain-Travel" target="_blank">
                                                      <div class="imgthumbnail">
                                                            <img src="img/MC/Mountain-travel.jpg" alt="Mountain-Travel">
                                                      </div>  
                                                      <div class="overlay">
                                                            <h1 class="text-center padding">Mountain Travel</h1>
                                                            <h2 class="text-center padding2">Responsive start-up website on mountain traveling from Colt Steele's Advanced Web Developer BootCamp (Udemy). HTML, CSS, Bootstrap, Font-Awesome, FlexBox. </h2>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
                              </div>
                              <div class="container">
                                    <h1 class="text-center portheader">Free Code Camp</h1>
                              </div>
                              <div class="row display-flex " style="display:flex; flex-wrap: wrap;">
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow3 yellow">
                                                <a href="FCC/random-quote" target="_blank">
                                                      <div class="imgthumbnail">
                                                            <img src="img/fcc.jpg" alt="FreeCodeCamp">
                                                      </div>
                                                      <div class="overlay">
                                                            <h1 class="text-center padding">Free Code Camp</h1>
                                                            <h2 class="text-center padding2">Projects from Free Code Camp, a free online course with programming projects and interview preparation. HTML, CSS, Javascript, JQuery, BootStrap. (More projects in development)</h2>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow3 yellow">
                                                <a href="/FCC/weather" >
                                                      <div class="imgthumbnail">
                                                            <img src="img/weather-api.PNG" alt="Weather Forecast">
                                                      </div>
                                                      <div class="overlay">
                                                            <h1 class="text-center padding">Current Weather Project</h1>
                                                            <h2 class="text-center padding2">Website that displays the weather of the the user's current location. HTML,CSS, JavaScript, Jquery, Bootstrap, Node.js, Express, API</h2>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
                                   <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 container3">
                                          <div class="item boxshadow3 yellow">
                                                <a href="/FCC/wiki">
                                                      <div class="imgthumbnail">
                                                            <img src="img/wiki.PNG" alt="Wikipedia Viewer">
                                                      </div>   
                                                      <div class="overlay">
                                                            <h1 class="text-center padding">Wikipedia Viewer</h1>
                                                            <h2 class="text-center padding2">Website that displays a list of information retrieved from Wikipedia's API. HTML,CSS, JavaScript, Jquery, Bootstrap, Node.js, Express, API</h2>
                                                      </div>
                                                </a>
                                          </div>
                                    </div>
                                    
                              </div>

                                    <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">-->
                                    <!--      <div class="thumbnail">-->
                                    <!--            <img src="img/java.jpg" alt="Java MasterClass Udemy">-->
                                    <!--            <div class="caption text-center">-->
                                    <!--                  <h3>Complete Java Masterclass</h3>-->
                                    <!--                  <h4>Algorithms and Excercises from Java Masterclass (Udemy Course by Tim Buchalka). Java</h4>-->
                                    <!--                  <p><a href="https://yelp-camp-dj.herokuapp.com/" class="btn btn-primary btn-lg " role="button">More Information</a> </p>-->
                                    <!--            </div>-->
                                    <!--      </div>-->
                                    <!--</div>-->


                        </div>
                  </div>

                  <div class="pageFour" id="contact">
                              <footer>
                                    <div class="container">
                                         <div class="row">
                                              <div class="col-md-6 col-sm-4 footerleft ">
                                                    <div class="logofooter"> David Jiang</div>
                                                      <p>Bringing Passion and Imagination to Life with Programming</p>
                                                      <p><i class="fa fa-map-pin"></i> 17 Gerard Ave, Binghamton, NY 13905</p>
                                                      <p><i class="fa fa-phone"></i> Phone (U.S.) : 1 (929) 283 9935</p>
                                                      <p><i class="fa fa-envelope"></i> E-mail :  djiang86@binghamton.edu</p>
                                                </div>
                                                <div class="col-md-2 col-sm-4 paddingtop-bottom" id="nav-bottom">
                                                      <h6 class="heading7">LINKS</h6>
                                                      <ul class="footer-ul">
                                                            <li><a href="#" id="homelink"> Home</a></li>
                                                            <li><a href="#" id="aboutlink"> About</a></li>
                                                            <li><a href="#" id="portfoliolink">Portfolio</a></li>
                                                            <li><a href="#" id="contactlink"> Contact</a></li>
                                                      </ul>
                                                </div>

                                             <div class="col-md-3 col-sm-4 paddingtop-bottom pull-right">
                                                   <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                                         <div class="fb-xfbml-parse-ignore">
                                                               <blockquote cite="https://www.facebook.com/david.jiang.771"><a href="https://www.facebook.com/david.jiang.771"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></blockquote>
                                                         </div>
                                                         <div class="fb-xfbml-parse-ignore">
                                                               <blockquote cite="https://github.com/david2999999"><a href="https://github.com/david2999999"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></blockquote>
                                                         </div>
                                                         <div class="fb-xfbml-parse-ignore">
                                                               <blockquote cite="https://www.freecodecamp.org/david2999999"><a href="https://www.freecodecamp.org/david2999999"><i class="fa fa-free-code-camp" aria-hidden="true"></i>  FreeCodeCamp</a></blockquote>
                                                         </div>
                                                         <div class="fb-xfbml-parse-ignore">
                                                               <blockquote cite="https://www.linkedin.com/in/david-jiang-755818149/"><a href="https://www.linkedin.com/in/david-jiang-755818149/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> Linkedin</a></blockquote>
                                                         </div>
                                                   </div>
                                             </div>
                                      </div>
                                    </div>
                              </footer>

                                    <div class="copyright">
                                          <div class="container">
                                               <div class="col-md-12 ">
                                                    <p>© 2017 - DJ Design Studio</p>
                                             </div>
                                       </ul>
                                          </div>
                                    </div>
                        </div>
                  </div>
      </body>
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="js/portfolio.js"></script>
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
</html>
