<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Wikipedia Search</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="../stylesheets/wiki-api.css" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/footer-header.css" type="text/css">

      </head>
      <body>
            <%include ../partials/header %>
            <div class="container content">
                  <a href="https://en.wikipedia.org/wiki/Special:Random" target="blank"><h1 class="text-center header">Wikipedia Search Engine</h1></a>
                  <div class="col-md-8  col-md-offset-2">
                        <input class="form-control input-lg" type="text" id="searchWord" value="" placeholder="Search in Wikipedia">
                              <button id="search" type="button" class="btn btn-default center-block">Wiki Search</button>
                  </div>
                  <div class="col-md-12">
                        <ul id="results"></ul>
                  </div>

            </div>
            <%include ../partials/footer %>

      </body>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type = "text/javascript" src="../js/wiki-api.js"></script>
</html>
