body{
    /*background-image: url("../image/MSimg/cover.jpg");*/
    /*background-repeat: no-repeat;*/
    height: 100vh;
    /*min-width: 1200px;*/
}

.content{
      background: url("../image/MSimg/bg_ghosted_grey.jpg") no-repeat 50% 0;
      border-top: black 7px solid;
      background-size: cover;
}

p{
      display: block;
}

h1{
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
}

.margin-bottom{
      padding-bottom: 80px;
}

.margin-bottom1{
      padding-bottom: 30px;
}

.border-left, .border-right{
      width: 300px;
}
.btn:hover{
      cursor: pointer;
}
/*============NAV BAR DECOR================*/
.nav-bar1{
    background-color: #000000 !important;
    padding: 0px;
      border-bottom: 2px solid #00A7CC;
}

.nav-bar2{
    background-color: #000000 !important;
    border-bottom: 1px solid gray;
    padding: 0;
    margin: 0;
}

.nav-item{
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 1.4em;
    margin-left: 20px;
}

.navbar .navbar-brand{
      font-family: 'Jomhuria', cursive;
            /*font-size: 4em;*/
      letter-spacing: 2px;
      padding-bottom: 2px;
      margin: 0;
      font-weight: lighter;
}


.nav-bar2 .navbar-brand{
      margin-left: 20rem;
      margin-right: 5rem !important;
      padding-bottom: 3px;
}

.btn{
      margin: 0 10px 0 5px;
      line-height: 1;
}


/*==DROP DOWN DECOR==*/
.navbar-dark .navbar-nav .nav-link{
      color: white;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-item{
      font-size: 1.35em;
      color: white;
      background: rgba(51,51,51,0.9);
      border-bottom: 1px gray solid;
}

.dropdown-item:hover{
      background: rgba(51,51,51,0.9);
      color: #e64120;
}

/*==FONT AWESOME ICONS==*/
.fa-facebook-square, .fa-twitter-square, .fa-youtube-square{
      color: rgba(147,206,222,1);
      padding: 11px 0 0 20px;
      margin-bottom: 10px;
}

/*===CONTENT CSS==*/
.content-description{
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 600;
}
.thumbnail img{
      width: 100%;
      height: auto;
}
.caption, .caption2{
      background-color: white !important;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      height: 180px;
      padding-bottom: 10px;
}

.caption a, .caption2 a, .caption3 a{
      text-decoration: none;
      color: #2b2725;
}

.caption h3, .caption2 h3{
      font-weight: 700;
      padding:10px 0 0 20px;
      font-size: 25px;
      word-wrap: break-word;
}
.caption h3:hover, .caption2 h3:hover, .caption3 h3:hover{
      color:  #0099cc;
}
.caption p , .caption2 p{
      padding:10px 20px 20px 20px;
      font-size: 18px;
      line-height: 1.1;
      word-wrap: break-word;
      color: #2b2725;
}

.caption2 {
      color: #777;
      text-align: left;
      float: left;
      height: 268px;
      width: 100%;
      padding: 5px 10px 0 20px;
}

h3{
      font-weight: 1000;
}

.timeStamp, .timeStamp3{
      left: 20px;
      bottom: -15px;
      font-family: "Titillium Web",arial,sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      position: absolute;
      padding-top: 10px;
}

.readMore{
      position: absolute;
      right: 20px;
      bottom: -15px;
      font-family: "Titillium Web",arial,sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      padding-top: 10px;
}

.readMore a:hover, .readMore2 a:hover{
      color: #0099cc;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.single{
      padding-bottom: 15px;
}

.btn-xlarge {
      padding: 1% 7.5%;
      font-size: 23px;
      line-height: normal;
      border-radius: 4px;
      border: black 2px solid;
      color: black;
      font-family: "Titillium Web",arial,sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 40px;
}

/*COMMUNITY NEWS CSS*/
.community-news{
      background: url("../image/MSimg/community_img.png") no-repeat 50% 0;
      background-size: cover;
      border-bottom: 1px darkred solid;
}

.comm-content{
      height: auto;
      margin-bottom: 30px;
      background-color:rgba(0, 0, 0, 0.6);
      border-radius: 10px;
}
.comm-description{
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 700;
      color: white;
      font-size: 28px;
      line-height: 1.4;

}
.comm-content .thumbnail{
      padding: 20px;
}

.caption3{
      background: transparent !important;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      height: 192px;
      color: white;
      /*padding-bottom: 10px;*/
}

.community-news .caption3 h3{
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      color: white;
      font-size: 18px;
      padding: 0;
      font-weight: bold;
}
.community-news .caption3 p{
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      color: white;
      font-size: 17px;
      padding: 0;
      /*font-weight: bold;*/
}

.timeStamp2{
      left: 20px;
      bottom: 23px;
      font-family: "Titillium Web",arial,sans-serif;
      text-transform: uppercase;
      font-size: 1px;
      position: absolute;
      padding-top: 10px;
      font-weight: normal;
}

.readMore2{
      position: absolute;
      right: 20px;
      bottom: 23px;
      font-family: "Titillium Web",arial,sans-serif;
      text-transform: uppercase;
      font-size: 16px;
      padding-top: 10px;
      font-weight: normal;
}

.readMore2 a{
      text-decoration: none;
      color: white;
}

.caption3 a h3:hover {
      text-decoration: none;
      color: #0099cc;
}

.btn-xlarge2{
      padding: 1% 7.5%;
      font-size: 23px;
      line-height: normal;
      border-radius: 4px;
      border: white 2px solid;
      color: white;
      font-family: "Titillium Web",arial,sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 60px;
}

/*===========FOOTER CSS==========*/
.footer{
      background-color: #161D1A;
}

.link-list{
      list-style: none;
      font-size: 1rem;
      line-height: 1.6;
      margin-top: 40px;
      margin-bottom: 20px;
}

.link-item{
      display: inline-block;
      color: white;
      border-right: white 2px solid;
      padding: 0 10px 0 10px;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 400;
}

.link-item2{
      display: inline-block;
      color: white;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 15px;
      font-weight: 400;
}
.link-item2 a, .link-item a{
      color: white;
      text-decoration: none;
}

.link-item2 a:hover , .link-item a:hover{
      text-decoration: none;
      color: #0099cc;
}

.footer-copy{
      font-size: 13px;
      font-weight: 500;
      color: white;
}

.nex_logo_footer{
      height: 20px;
      width: 71px;
}

/*=====GAMEHUB CSS======*/
.content-title{
      background: url("../image/MSimg/gamehub-bg.jpg") no-repeat 50% 0;
      background-size: cover;
      /*border-bottom: 3px solid black;*/
}

.bottom-border img, .game-update-bottom-border img, .classes-job-bottom-border img , .explore-maplestory-bottom-border img{
      width: 100%;
      height: auto;
}

.title-text{
      font-size: 54px;
      color: #222;
      font-weight: 900;
      text-shadow: 2px 2px 8px rgba(255,255,255,0.3);
      padding: 150px 0 120px 0px;
      padding-left: 20%;
      margin-bottom: 0;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
}

.title-text2{
      font-size: 30px;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 900;
      margin-top: 50px;
      margin-bottom: 30px;
      text-shadow: 2px 2px 8px rgba(255,255,255,0.3);
}
.game-hub-content{
      background: url("../image/MSimg/bg_ghosted_grey2.jpg") no-repeat 50% 0;
      background-size: cover;
}
.game-hub-content-item{
      background: url("../image/MSimg/gamehub.jpg") no-repeat 50% 0;
      background-size: cover;
      margin-bottom: 30px;
}

.game-hub-content-item2{
      background: url("../image/MSimg/gamehub2.jpg") no-repeat 50% 0;
      background-size: cover;
      margin-bottom: 30px;
}

.game-hub-content-item3{
      background: url("../image/MSimg/gamehub3.jpg") no-repeat 50% 0;
      background-size: cover;
      margin-bottom: 30px;
}
.game-hub-list-title{
      font-size: 28px;
      color: white;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: 400;
      padding-left: 40px;
      padding-top: 30px;
}

.game-hub-description{
      font-size: 20px;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      font-weight: normal;
      padding: 0px 40px 10px 40px;
      color: white;
      background-color:rgba(0, 0, 0, 0.1);
}

.btn-xlarge3{
      padding: 3% 10%;
      font-size: 22px;
      /*line-height: normal;*/
      letter-spacing: 1px;
      border-radius: 4px;
      border: white 2px solid;
      color: white;
      font-family: "Titillium Web",arial,sans-serif;
      font-weight: 600;
      text-transform: uppercase;
}

.game-hub-btn{
      margin: 0px 0px 40px 40px;
      z-index: 1;
}

.gamehub-item1{
      background: url("../image/MSimg/gamehub-bottom.jpg") no-repeat 50% 0;
      background-size: cover;
      margin-bottom: 20px;
      height: 200px;
}
.gamehub-item2{
      background: url("../image/MSimg/gamehub-bottom2.jpg") no-repeat 50% 0;
      background-size: cover;
      height: 200px;
      margin-bottom: 20px;
}
.gamehub-item3{
      background: url("../image/MSimg/gamehub-bottom3.jpg") no-repeat 50% 0;
      background-size: cover;
      height: 200px;
      margin-bottom: 80px;
}

.gamehub-item-title{
      font-size: 24px;
      color: white;
      padding: 70px 0 80px 30px;
}

.gamehub-bottom-item a:hover{
      text-decoration: none;
}

.game-hub-content-item button:hover, .game-hub-content-item2 button:hover , .game-hub-content-item3 button:hover{
      cursor: pointer;
}

/*====NEWS HUB CSS======*/
.news-hub-content-bg{
      background: url("../image/MSimg/newshub-bg.jpg") no-repeat 50% 0;
      background-size: cover;
}

.news-hub-title{
      font-size: 54px;
      color: #222;
      font-weight: 900;
      text-shadow: 2px 2px 8px rgba(255,255,255,0.3);
      padding: 150px 0 120px 0px;
      padding-left: 75%;
      margin-bottom: 0;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
}

.news-hub-content{
      background: url("../image/MSimg/bg_ghosted_grey.jpg") no-repeat 50% 0;
      background-size: cover;
}

.news-hub-content-list{
      background: url("../image/MSimg/newshub-content-bg.jpg") no-repeat 50% 0;
      background-size: cover;
}

.news-hub-content-list  h1{
      font-size: 40px;
      color: white;
      font-weight: 900;
}

.news-hub-content-list-extend{
      background-color: black
}

 /*====MAJOR GAME UPDATE CSS=====*/

.game-update-content-bg{
      background: url("../image/MSimg/gameupdate-bg.jpg") no-repeat 50% 0;
      background-size: cover;
}
.game-update-bottom-border{
      padding-top: 500px;
}

.game-update-content{
      background: url("http://nxcache.nexon.net/maplestory/assets-new/img/bg_section_ghosted_grey_variation_1.jpg") no-repeat 50% 0;
      background-size: cover;
}

.game-update-content-list{
      overflow: hidden;
      -webkit-box-shadow: 10px -7px 14px -5px rgba(153,148,153,1);
      -moz-box-shadow: 10px -7px 14px -5px rgba(153,148,153,1);
      box-shadow: 10px -7px 14px -5px rgba(153,148,153,1);
}
.game-update-content img, .game-update-content-list2 img, .class-job-content img{
      transform: scale(1);
      transition: all 400ms ease-in 0ms;
      max-width: 100%;
      width: 100%;
}

.game-update-content img:hover,  .game-update-content-list2 img:hover, .class-job-content img:hover{
      transform: scale(1.1);
}

.game-update-content-list-extend{
      background-color:#ccccc4;
      background-size: cover;
}

/*=====CLASSES AND JOBS CSS=====*/
.classes-job-content-bg{
      background: url("http://nxcache.nexon.net/maplestory/assets-new/img/bg_page_title_game_jobsclasses_overview.jpg") no-repeat 50% 0;
      background-size: cover;
      /*height: 400px;*/
}

.classes-job-bottom-border{
      padding-top: 400px;
}

.class-job-content{
      background: url("http://nxcache.nexon.net/maplestory/assets-new/img/bg_section_ghosted_grey_variation_5.jpg") no-repeat 50% 0;
      background-size: cover;
}

/*==EXPLORE MAPLESTORY CSS MAPLESTORY PAGE===*/
.explore-maplestory-content-title{
      background: url("http://nxcache.nexon.net/maplestory/assets-new/img/bg_page_title_game_explore_whatis.jpg") no-repeat 50% 0;
      background-size: cover;
}

.explore-maplestory-bottom-border{
      padding-top: 350px;
}

.explore-maplestory-content{
      background: url("http://nxcache.nexon.net/maplestory/assets-new/img/bg_section_ghosted_grey_variation_4.jpg") no-repeat 50% 0;
      background-size: cover;
}
.explore-maplestory-header{
      padding: 80px 0 60px 0;
}
.explore-maplestory-header h1{
      font-weight: 700;
      color: #484846;
      line-height: 1;
      font-size: 33px;
}

.explore-btn{
      font-family: "Titillium Web",arial,sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 4px;
      border: 2px solid #e64120;
      color: #e64120;
      font-size: 19px;
}

.explore-btn:hover{
      background-color: #e64120;
      color: white;
      border: 2px solid #e64120;
}

.explore-button-list .active-btn{
      background-color: #e64120;
      color: white;
}

.explore-content h2{
      font-size: 25px;
      font-weight: 900;
      color: #484846;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      font-style: normal;
}

.explore-content p{
      font-size: 18px;
      line-height: 1.4;
      color: #484846;
      font-family: lora,Georgia,Cambria,"Times New Roman",Times,serif;
      padding-bottom: 30px
}

.explore-content hr{
      margin: 30px 0;
      border: 0;
      border-top: 1px solid #babab3;
      border-bottom: 1px solid #ddddd8;
}

.explore-content img{
      padding-bottom: 30px;
      max-width: 100%;
      height: auto;
}
/*===MEDIA QUERIES==*/

@media (max-width: 1300px){
      .nav-bar2 .navbar-brand{
            margin-left: 8rem !important;
      }
}

@media (max-width: 1200px){
      .nav-bar2 .navbar-brand{
            margin-left: 10rem !important;
      }

      .caption2{
            height: 227px;
      }
}
@media (max-width: 1116px){
      .nav-bar2 .navbar-brand{
            margin-left: 1.5em !important;
      }

      .caption2{
            height: 227px;
      }
}

@media (max-width: 1020px){
      .nav-bar2 .navbar-brand{
            margin-left: 1.6rem !important;
      }
}

@media (max-width: 991px){
      /*===INDEX MEDIA QUERY===*/
      .nav-bar2 .navbar-brand{
            margin-left: 26rem !important;
      }
      .caption, .caption2{
            height: 160px;
      }
      .thumbnail{
            padding-top: 10px;
      }

      .padding-0{
            padding-top: 0;
            padding-bottom: 0;
      }

      .caption2{
            height: 200px;
      }


}


@media (max-width: 900px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }

      .caption{
            height: 170px;
      }

      .caption2{
            height: 200px;
      }

}

@media (max-width: 880px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }

      .caption{
            height: 170px;
      }

      .caption2{
            height: 200px;
      }

}

@media (max-width: 800px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }

}

@media (max-width: 750px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }

}

@media (max-width: 710px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }
      .caption{
            height: 240px;
      }
      .caption2{
            height: 230px;
      }

}

@media (max-width: 670px){
      .nav-bar2 .navbar-brand{
            margin-left: 13rem !important;
      }
      .border-left, .border-right{
            width: 200px;
      }
}


@media (max-width: 550px){
      .nav-bar2 .navbar-brand{
            margin-left: 5rem !important;
      }
      .padding-0{
            padding-right: 10px;
            padding-left: 10px;
      }

      .caption{
            height: 280px;
      }
      .caption2{
            height: 320px;
      }


}

@media (max-width: 500px){
      .nav-bar2 .navbar-brand{
            margin-left: 4rem !important;
      }


}

@media (max-width: 414px){
      .nav-bar2 .navbar-brand{
            margin-left: 20px !important;
      }

      .border-left, .border-right{
            width: 150px;
      }
}

@media (max-width: 300px){
      .nav-bar2 .navbar-brand{
            margin-left: 0rem !important;
      }

}
