body{
      /*font-family: "Times New Roman", Times, serif;*/
      font-family: lobster;
      min-width: 1000px;
}

p{
      font-size: 2.7em;
      color: white;
}
h1{
      font-size: 4em;
      color: white;
}
::-webkit-scrollbar { 
    display: none; 
}

.imgthumbnail img{
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: cover;
    margin-bottom: 50px;
    transition: 1s ease;
    border-radius: 10%;
    opacity: 1;
}

.padding{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.padding2{

    padding-left: 5%;
    padding-right: 5%;
}

.item{
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    /*min-width: 300px;*/
    /*max-width: 620px;*/
    width: 100%;
    height: 500px;
    background: #000000;
    border-radius: 10%;
    text-align: center;
    animation: shadowEffect 4s linear infinite;
}


/*.boxshadow2{*/
/* -webkit-box-shadow: 0px 0px 36px 3px rgba(245,228,73,1);*/
/*-moz-box-shadow: 0px 0px 36px 3px rgba(245,228,73,1);*/
/*box-shadow: 0px 0px 36px 3px rgba(245,228,73,1);   */
/*}*/
/*.boxshadow3{*/
/*    -webkit-box-shadow: 0px 0px 36px 3px rgba(247,107,46,1);*/
/*-moz-box-shadow: 0px 0px 36px 3px rgba(247,107,46,1);*/
/*box-shadow: 0px 0px 36px 3px rgba(247,107,46,1);*/
/*}*/


div.item * {
  transition: all .5s ease-in-out;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 500px;
  border-radius: 10%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div.item:hover .overlay {
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item:hover{
    box-shadow: none;
}



.container3:hover .overlay {
    opacity: 1;
    color: white;
}

.container3:hover .imgthumbnail {
  opacity: 0.3;
}

.container3:hover .boxshadow {
  opacity: 1;
}

.container3{
    height: 500px;
    margin-bottom: 50px;
}
.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.pageOne{
      background: url("../img/img.jpg");
      background-size: cover;
      height: 1400px;
}
.pageTwo{
      background: url("../img/img5.jpg");
      background-size: cover;
      height: 1600px;
      margin-top: -5%;
      padding-top: 6%;
}
.pageThree{
      background: url("../img/img3.jpg");
      background-size: cover;
      height: 3300px;
      padding-top: 6%;
}
.pageFour{
      background: url("../img/img7.jpg");
      background-size: cover;
      height: 300px;

}

.rowstyle{
    border-bottom: solid 2px white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.portheader{
    margin-bottom: 40px;
    text-shadow: 1px 1px 19px rgba(255, 255, 255, 1);
}
.block{
      background-color: transparent;
      border: 1px solid #45d5f9;
      color: white;
      opacity: .9;
      padding: 10px;
      width: 50%;
      margin: auto;
      border-radius: 15%;
    animation: shadowEffect2 3s linear infinite;
}
.discription{
    animation: shadowEffect3 3s linear infinite;
}



.navbar-custom{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.containermargin{
    padding-top: 15%;
}

.block h1{
      font-size: 5em;
}

.block2{
      background-color: #2a2a2a;
      opacity: .9;
      margin-bottom: 20px;
      font-size: 18px;
}
.btn-default{
      /*background-color: #2a2a2a;
      border-color: #2a2a2a;*/
      background-color: transparent;
      border-color: #45d5f9;
      color: white;
      font-size: 1.8em;
      margin-top: 1%;
      transition : border-color 0.5s;
      transition: box-shadow 1s ease;
}
.btn-default:hover{
      background-color: transparent;
      color: #00edff;
      border-color: #00edff;
      -webkit-box-shadow: 0px 0px 52px 1px rgba(0,237,255,1);
      -moz-box-shadow: 0px 0px 52px 1px rgba(0,237,255,1);
      box-shadow: 0px 0px 52px 1px rgba(0,237,255,1);
}
.btn-default:active {
  background-color: transparent;
  box-shadow: none;
}

    .navbar-custom {
        background-color:	#404040;
        color:#ffffff;
        border-radius:0;
        font-size: 1.7em;
        font-family: lobster;
        opacity: .9;
          margin-bottom: 10%;
    }
    
    .navbar-custom .navbar-nav > li > a {
        color:#fff;
    }
    
    .navbar-custom .navbar-nav > .active > a {
        color: #A9A9A9;
        background-color:transparent;
    }
    
    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus,
    .navbar-custom .navbar-nav > .open >a {
        text-decoration: none;
        background-color:#585858	;
    }
    
    .navbar-custom .navbar-brand {
          font-size: 1.5em;
        color:#eeeeee;
    }
    .navbar-custom .navbar-toggle {
        background-color:#A9A9A9;
    }
    .navbar-custom .icon-bar {
        background-color: white;
    }

.profilePic{
      height: 600px;
}

.thumbnail{
      background-color: #2a2a2a;
      opacity: .9;
      color: white;
}
.thumbnail .caption {
      color: white;
}




hr {
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #aeecfc, rgba(0, 0, 0, 0));
}


footer { background-color:#0c1a1e; min-height:400px; font-family: lobster }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:20px; font-size:3em; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:20px !important; font-family: lobster; margin-bottom:30px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height: 36px; font-size:1.6em;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#2df4ff; text-decoration: none;}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }




 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}


 .copyright { min-height:60px; background-color:#000000;}
 .copyright p { text-align:center; color:#FFF; padding:10px 0; margin-bottom:0px; font-size: 1.7em;}
 .heading7 { font-size:3em; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:1.2em; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:30px;}
.fb-xfbml-parse-ignore blockquote{font-size: 1.75em;}
.fb-xfbml-parse-ignore a{color: white;}
.fb-xfbml-parse-ignore a:hover{color: #2df4ff; text-decoration: none;}
blockquote:hover{ border-left: 5px solid #2df4ff;}



.container2 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px){
    .containermargin{
        padding-top: 30%;
    }
    .pageThree{
        height: 3300px;
    }

}
@media (min-width: 768px) {
    .container2 {
      width: 800px;
    }
    .pageOne{
        height: 1830px;
    }
    .pageTwo{
      height: 1800px;
    }
    .containermargin{
        padding-top: 20%;
    }
    .col-sm-6{
        width: 49%;
    }
    .pageThree{
        height: 3300px;
    }

}
@media (min-width: 992px) {
  .container2 {
    width: 900px;
  }
      .containermargin{
        padding-top: 20%;
    }
        
    .col-md-4{
        width: 33.33%;
    }
    .pageThree{
        height: 2500px;
    }
}
@media (min-width: 1200px) {
    .container2 {
        width: 1500px;
    }
    .containermargin{
        padding-top: 20%;
    }
    
    .pageThree{
        height: 2500px;
    }
}




@keyframes shadowEffect{
    0%{
        -webkit-box-shadow: 0px 0px 72px -4px rgb(255, 51, 153);
        -moz-box-shadow: 0px 0px 72px -4px rgb(255, 51, 153);
        box-shadow: 0px 0px 72px -4px rgb(255, 51, 153);
    }
    25%{
        -webkit-box-shadow: 0px 0px 50px -4px rgb(204, 102, 255);
        -moz-box-shadow: 0px 0px 50px -4px rgb(204, 102, 255);
        box-shadow: 0px 0px 50px -4px rgb(204, 102, 255);
    }
    50%{
        -webkit-box-shadow: 0px 0px 40px -4px rgb(255, 0, 255);
        -moz-box-shadow: 0px 0px 40px -4px rgb(255, 0, 255);
        box-shadow: 0px 0px 40px -4px rgb(255, 0, 255);
    }
    75%{
        -webkit-box-shadow: 0px 0px 50px -4px rgb(153, 51, 153);
        -moz-box-shadow: 0px 0px 50px -4px rgb(153, 51, 153);
        box-shadow: 0px 0px 50px -4px rgb(153, 51, 153);
    }
    100%{
        -webkit-box-shadow: 0px 0px 72px -4px rgb(204, 0, 255);
        -moz-box-shadow: 0px 0px 72px -4px rgb(204, 0, 255);
        box-shadow: 0px 0px 72px -4px rgb(204, 0, 255);
    }
}


@keyframes shadowEffect2{
        0%{
        -webkit-box-shadow: 0px 0px 72px -4px rgb(0, 153, 204);
        -moz-box-shadow: 0px 0px 72px -4px rgb(0, 153, 204);
        box-shadow: 0px 0px 72px -4px rgb(0, 153, 204);
    }
    25%{
        -webkit-box-shadow: 0px 0px 65px -4px rgb(51, 204, 204);
        -moz-box-shadow: 0px 0px 65px -4px rgb(51, 204, 204);
        box-shadow: 0px 0px 65px -4px rgb(51, 204, 204);
    }
    50%{
        -webkit-box-shadow: 0px 0px 50px -4px rgb(0, 153, 255);
        -moz-box-shadow: 0px 0px 50px -4px rgb(0, 153, 255);
        box-shadow: 0px 0px 50px -4px rgb(0, 153, 255);
    }
    75%{
        -webkit-box-shadow: 0px 0px 65px -4px rgb(0, 204, 153);
        -moz-box-shadow: 0px 0px 65px -4px rgb(0, 204, 153);
        box-shadow: 0px 0px 65px -4px rgb(0, 204, 153);
    }
    100%{
        -webkit-box-shadow: 0px 0px 72px -4px rgb(102, 204, 255);
        -moz-box-shadow: 0px 0px 72px -4px rgb(102, 204, 255);
        box-shadow: 0px 0px 72px -4px rgb(102, 204, 255);
    }
}


@keyframes shadowEffect3{
        0%{
        -webkit-box-shadow: 0px 0px 72px -4px rgb(255, 0, 0);
        -moz-box-shadow: 0px 0px 72px -4px rgb(255, 0, 0);
        box-shadow: 0px 0px 72px -4px rgb(255, 0, 0);
    }
    25%{
        -webkit-box-shadow: 0px 0px 65px -4px rgb(153, 0, 51);
        -moz-box-shadow: 0px 0px 65px -4px rgb(153, 0, 51);
        box-shadow: 0px 0px 65px -4px rgb(153, 0, 51);
    }
    50%{
        -webkit-box-shadow: 0px 0px 50px -4px rgb(255, 51, 0);
        -moz-box-shadow: 0px 0px 50px -4px rgb(255, 51, 0);
        box-shadow: 0px 0px 50px -4px rgb(255, 51, 0);
    }
    75%{
        -webkit-box-shadow: 0px 0px 65px -4px rgb(255, 80, 80);
        -moz-box-shadow: 0px 0px 65px -4px rgb(255, 80, 80);
        box-shadow: 0px 0px 65px -4px rgb(255, 80, 80);
    }
    100%{
        -webkit-box-shadow: 0px 0px 72px -4px rgb(204, 0, 102);
        -moz-box-shadow: 0px 0px 72px -4px rgb(204, 0, 102);
        box-shadow: 0px 0px 72px -4px rgb(204, 0, 102);
    }
}