<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MapleStory - DJ DS</title>
    <link rel="icon" href="../img/MSimg/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/maple-story.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Jomhuria" rel="stylesheet" type="text/css">
  </head>
  <body>
      <%include ../partials/msheader %>

      <div class="classes-job-content-bg">
            <div class="classes-job-bottom-border">
                  <img src="../img/MSimg/border.png" alt="">
            </div>
      </div>
      <div class="class-job-content">
            <br><br><br>
            <div class="container">
                  <div class="row">
                        <div class="col-md-12 ">
                              <h2 class="content-description">CLASSES AND JOBS</h2>
                              <br>
                        </div>
                  </div>
                        <div class="row game-update-content-container">
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2201/battle-mage-magician.jpg" alt="BATTLE MAGE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2198/beast-tamer-magician.jpg" alt="BEAST TAMER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2199/blaze-wizard-magician.jpg" alt="BLAZE WIZARD"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2208/evan-magician.jpg" alt="EVAN"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2209/kanna-magician.jpg" alt="KANNA"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2210/luminous-magician.jpg" alt="LUMINOUS"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2211/magician-magician.jpg" alt="MAGICIAN"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/3734/kinesis-magician_thumbnail.jpg" alt="KINESIS"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/cms/2017/2114/ill171220ncbdeh4.jpg" alt="ILLIUM"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2207/dual-blade-thief.jpg" alt="DUAL BLADE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2217/night-walker-thief.jpg" alt="NIGHT WALKER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2214/phantom-thief.jpg" alt="PHANTOM"></a>
                                    </div>
                              </div>
                        </div>
            </div>
      </div>
      <div class="game-update-content-list-extend">
            <div class="container">
                  <div class="game-update-content-list2">
                        <div class="row">

                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2264/thief-thief.jpg" alt="THIEF"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2197/xenon-thief.jpg" alt="XENON"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/cms/2017/1924/171129cdajbthbnb5.jpg" alt="CADENA"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2200/aran-warrior.jpg" alt="ARAN"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2204/dawn-warrior-warrior.jpg" alt="DAWN WARRIOR"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2205/demon-avenger-warrior.jpg" alt="DEMON AVENGER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2202/demon-slayer-warrior.jpg" alt="DEMON SLAYER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2206/hayato-m-warrior.jpg" alt="HAYATO"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2213/kaiser-warrior.jpg" alt="KAISER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2216/mihile-warrior.jpg" alt="MIHILE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2220/warrior-warrior.jpg" alt="WARRIOR"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2270/zero-f-warrior.jpg" alt="ZERO"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/6364/160711blstrthumbij4255.jpg" alt="BLASTER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2203/bowman-m-bowman.jpg" alt="BOWMAN"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2221/wild-hunter-bowman.jpg" alt="WILD HUNTER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2218/wind-archer-m-bowman.jpg" alt="WIND ARCHER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2215/mercedes-bowman.jpg" alt="MERCEDES"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2267/angelic-buster-pirate.jpg" alt="ANGELIC BUSTER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2269/cannoneer-pirate.jpg" alt="CANNONEER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2268/jett-f-pirate.jpg" alt="JETT"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2212/mechanic-pirate.jpg" alt="MECHANIC"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2266/pirate-m-pirate.jpg" alt="PIRATE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2265/shade-pirate.jpg" alt="SHADE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/2219/thunder-breaker-pirate.jpg" alt="THUNDER BREAKER"></a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <br><br><br>
      </div>

      <%include ../partials/msfooter %>
  </body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 <script src="../js/ms-js/maplestory.js" type="text/javascript"></script>
</html>
