<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MapleStory - DJ DS</title>
    <link rel="icon" href="../img/MSimg/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/maple-story.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Jomhuria" rel="stylesheet" type="text/css">
  </head>
  <body>
      <%include ../partials/msheader %>
      <div class="explore-maplestory-content-title">
            <div class="explore-maplestory-bottom-border">
                  <img src="../img/MSimg/border.png" alt="">
            </div>
      </div>
      <div class="explore-maplestory-content">
            <div class="container ">
                  <div class="row explore-maplestory-header">
                        <div class="col-lg-6 col-md-5 col-sm-12">
                              <h1>EXPLORE MAPLESTORY</h1>
                        </div>
                        <div class="col-lg-6 col-md-7 col-sm-12 explore-button-list">
                              <a href="#"><button class="btn btn-outline-primary btn-large explore-btn float-right" type="submit">MAPLER</button></a>
                              <a href="#"><button class="btn btn-outline-primary btn-large explore-btn float-right" type="submit">WORLD</button></a>
                              <a href="#"><button class="btn btn-outline-primary btn-large explore-btn active-btn float-right" type="submit">MAPLESTORY</button></a>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 explore-content">
                              <h2>INTRODUCTION</h2>
                              <p>The history of Maple World is rich and storied, and stretches back for millennia.
                                    Begin your adventure today and you’ll relive the harrowing war against the sinister Black Mage and experience the continuing legacy of his secret society, the Black Wings. Each character and class has their
                                     own quest line and tale to tell- try them all to get the full story!</p>
                              <hr>

                              <h2>THE DAWN OF TIME</h2>
                              <p>Long ago, in a faraway universe, there was nothing but darkness. Godlike beings known as the Overseers used their powers to create two worlds and six entities to watch over them. The planets, separated by nothing more than a thin dimensional barrier, were named Maple World and Grandis, and each received three guardians, known as Transcendents, who represent the powers of life, light and time. As life-forms began to populate these wondrous worlds, a legend spread amongst the people of Maple World that their planet was nothing more than a dream of Rhinne, the Transcendent of Time.</p>
                              <img src="http://nxcache.nexon.net/maplestory/assets-new/img/explore_maplestory_dawnoftime.jpg" alt="">
                              <hr>
                        </div>
                  </div>
                  <div class="row explore-content">
                        <div class="col-lg-6 col-sm-12">
                              <img src="http://nxcache.nexon.net/maplestory/assets-new/img/explore_maplestory_transcendentoflight.jpg" alt="">
                        </div>
                        <div class="col-lg-6">
                              <h2>THE TRANSCENDENT OF LIGHT</h2>
                              <p>Maple World's Transcendent of Light went unnoticed for years, a mortal living among ordinary people. Known as the White Mage, he was a humble scientist working with a research group called Aurora. Aurora was intent on unlocking the secrets of light, and the White Mage was their star researcher. But he went too far—his experiments extended into the dead of night, and he went for weeks without eating or sleeping. Something dark was awoken inside of him, sinister magic that poisoned the pure light at his core. Though his fellow scientists tried to help, their efforts were in vain: The White Mage transformed into the Black Mage, a god among men whose very existence threatened to tear Maple World apart.</p>
                        </div>
                  </div>
                  <hr><br>
                  <div class="row explore-content">
                        <div class="col-lg-12 col-sm-12">
                              <img src="http://nxcache.nexon.net/maplestory/assets-new/img/explore_maplestory_riseblackmage.jpg" alt="">
                              <h2>THE RISE OF THE BLACK MAGE</h2>
                              <p>Aurora fought off the Black Mage at a great cost, but the skirmish only seemed to make him more powerful.</p>
                              <p>His former colleagues defeated, the Black Mage went about recruiting commanders to lead his armies:</p>
                              <p>
                                    <strong>Arkarium</strong>, a former monk from the Temple of Time and the Mage's right hand; <strong>Von Leon</strong>, ruler of a now forgotten kingdom, who is capable of transforming into a massive lion; twins <strong>Orchid</strong> and <strong>Lotus</strong>, fiends responsible for assassinating Aria, the empress of a peaceful realm; the <strong>Demon Slayer</strong>, a half human/half demon hybrid; <strong>Hilla</strong>, a vain beauty who betrayed her city for the Mage's promise of immortality; <strong>Magnus</strong>, a disgraced hero of the Nova, the native race of the planet <strong>Grandis</strong>; and <strong>Guwaru</strong>, an elemental spirit of the forest. His entourage assembled, the Black Mage proceeded to rob Rhinne of her power, and with the help of the Demon Slayer, sealed her in a chaotic netherworld. Now infused with the powers of light and time, the Black Mage laid waste to the peaceful lands of Maple World. For years, none dared defy him... until an alliance was forged.
                              </p><hr><br>
                              <img src="http://nxcache.nexon.net/maplestory/assets-new/img/explore_maplestory_legendsixheros.jpg" alt="">
                              <h2>LEGEND OF THE SIX HEROES</h2>
                              <p>Only six brave souls dared oppose the Black Mage: Freud, the group’s leader, responsible for bringing them all together, and the most respected Dragon Master of all time; Aran, a young warrior girl who some say was the bravest in the group and the fiercest fighter; Mercedes, the magical Queen of the elves and regent of their capital city, Elluel; Phantom, the finest thief who ever lived, who pledged himself to the Alliance after Lotus and Orchid murdered Empress Aria, the love of his life; Luminous, a member of Aurora born of pure light, he was all that remained of the White Mage, the Black Mage's original form; and Shade, Freud's best friend and most trusted ally, a mysterious warrior who is all but forgotten by the history books.</p>
                              <hr><br>
                              <img src="http://nxcache.nexon.net/maplestory/assets-new/img/explore_maplestory_finalbattle.jpg" alt="">
                              <h2>THE FINAL BATTLE</h2>
                              <p>With no army to back them, the Six Heroes fearlessly marched on the Black Mage's fortress on Victoria Island. While Aran held off the Mage's armies and evacuated fleeing civilians and Phantom took to the sky in his airship to defend against the Black Mage's air force, Freud, Mercedes, Luminous and Shade confronted the fiendish magician. The Demon Slayer, having defected to the resistance after the Black Mage betrayed him, was the first to take on the villain in hand-to-hand combat, and managed to destroy one of his defensive barriers before help arrived.</p>
                              <p>Even with the Black Mage weakened, the remaining Heroes were no match for his magic. With the battle all but lost, drastic measures had to be taken. Using the last of his strength, Freud sapped the Black Mage of the power he stole from Rhinne, and used it to fashion a magical seal that would trap the villain in limbo. A sacrifice was needed to complete the ritual, and Shade, fearless to the end, volunteered. Luminous activated the seal with a mighty roar. The Black Mage was banished, but in a final act of defiance, he set a curse upon the Six Heroes.</p>
                              <p>Aran, badly wounded in the melee, refused to board the evacuation ships and instead dashed towards the castle. Before she could reach it she found herself freezing in place, as an icy cage materialized around her. Inside the Black Mage's domain, the same fate had befallen the other Heroes. Only Freud managed to escape unscathed, as his faithful dragon companion Afrien shielded him and absorbed the curse.</p>
                              <p>The day was won... but the cost was high. With all his friends missing and their fates unknown, Freud was left utterly alone. He took Afrien to Slumbering Dragon Island, hoping that someday he and the Heroes would waken from their slumber. As years turned to decades, and decades to centuries, the brave actions of the Six Heroes were all but forgotten... until now.</p>
                              <hr>
                        </div>
                  </div>
                  <div class="row explore-content">
                        <div class="col-lg-6 col-sm-12">
                              <h2>MYTHS REBORN</h2>
                              <p>Centuries have passed since that fateful day, and the citizens of Maple World have lived in relative peace ever since. Now a new menace is looming on the horizon: the Black Wings, a cult intent on resurrecting their master, the Black Mage. A resistance has formed in Edelstein, headquarters of the Black Wings, and brave souls are flocking from lands near and far to join the fight. And, after centuries lying dormant in ice, the surviving Six Heroes have begun to stir. The Black Mage's curse has been lifted, and the heroes have finally been awoken...</p>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                              <img src="http://nxcache.nexon.net/maplestory/assets-new/img/explore_maplestory_mythsreborn.jpg" alt="">
                        </div>
                  </div>
                  <br>
            </div>
      </div>

      </div>
      <%include ../partials/msfooter %>
  </body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 <script src="../js/ms-js/maplestory.js" type="text/javascript"></script>
</html>
