<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MapleStory - DJ DS</title>
    <link rel="icon" href="../../img/MSimg/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/maple-story.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Jomhuria" rel="stylesheet" type="text/css">
  </head>
  <body>
      <%include ../partials/msheader %>

      <div class="game-update-content-bg">
            <div class="game-update-bottom-border">
                  <img src="../img/MSimg/border.png" alt="">
            </div>
      </div>
      <div class="game-update-content">
            <br><br><br>
            <div class="container">
                  <div class="row">
                        <div class="col-md-12 ">
                              <h2 class="content-description">MAJOR GAME UPDATES</h2>
                              <br>
                        </div>
                  </div>
                        <div class="row game-update-content-container">
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/cms/2017/1465/171101nva360x203.jpg" alt="NOVA UPDATE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/cms/2017/1026/171011prm189b.jpg" alt="MONSTER BASH"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/12434/170822mjr188k.jpg" alt="TUNE UP"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/11350/170605thbov1.jpg" alt="OVERDRIVE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/10517/170217v182thbcz4b.jpg" alt="TERRORVERSARY"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/10162/170217kcs_prmothmb31.jpg" alt="KERNING SUPERSTAR"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/8588/161102mtb360x203me854s.jpg" alt="OVERDRIVE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/8038/strange-stories-promothumb.jpg" alt="STRANGE STORIES"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/6529/509t8dfg0h.jpg" alt="HEROES OF MAPLE"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/6167/abv4556.jpg" alt="BLASTER"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/5547/hom_reborn_promo_thumb.jpg" alt="REBORN"></a>
                                    </div>
                              </div>
                              <div class="col-lg-4 col-md-6 col-sm-12 margin-bottom1">
                                    <div class="game-update-content-list">
                                          <a href="#"><img src="http://nxcache.nexon.net/umbraco/5174/160602_updatethumb_ms_hom_promo.jpg" alt="HEROS OF MAPLE"></a>
                                    </div>
                              </div>
                        </div>
            </div>
      </div>
      <div class="game-update-content-list-extend">
            <div class="container">
                  <div class="game-update-content-list2">

                  </div>
                  <div class="moreUpdates">
                        <div class="col-lg-12 text-center">
                              <button class="btn btn-outline-primary btn-xlarge" type="submit">SEE MORE UPDATES</button>
                        </div>
                  </div>
            </div>
      </div>
      <%include ../partials/msfooter %>
  </body>
  <script src="../js/ms-js/ms-lib/jquery-min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 <script src="../js/ms-js/ms-lib/underscore-min.js"></script>
 <script src="../js/ms-js/ms-lib/backbone-min.js"></script>
 <script src="../js/ms-js/maplestory.js" type="text/javascript"></script>
  <script src="../js/ms-js/game-update-model.js" type="text/javascript"></script>
</html>
