<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MapleStory - DJ DS</title>
    <link rel="icon" href="../img/MSimg/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/maple-story.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Jomhuria" rel="stylesheet" type="text/css">
  </head>
  <body>
      <%include ../partials/msheader %>
      <div class="content-title">
            <h1 class="title-text">
                  THE GAME
            </h1>
            <div class="bottom-border">
                  <img src="../img/MSimg/border.png" alt="">
            </div>
      </div>
      <div class="game-hub-content">

            <div class="container">
                  <div class="row">
                        <div class="col-lg-12">
                                    <h1 class="title-text2">WHAT IS MAPLESTORY</h1>
                        </div>
                        <div class="col-lg-12">

                              <div class="game-hub-content-item">
                                    <div class="col-lg-7 col-md-12">
                                                <h3 class="game-hub-list-title"><span style="font-size: 36px;">A WORLD UNLIKE ANY OTHER</span></h3>
                                                <p class="game-hub-description">
                                                      Welcome to MapleStory, the original side-scrolling MMORPG where epic adventure, action and good friends await you. With hundreds of hours of gameplay, this immersive role-playing experience will allow you to unleash your wild side as you create and train a mighty hero, conquer perilous dungeons, overcome terrifying bosses, socialize with your friends and much more. Your MapleStory begins today!
                                                </p>
                                                <a href="#"><button class="btn btn-outline-primary btn-xlarge3 game-hub-btn" type="submit">NEW PLAYER GUIDE</button></a>
                                    </div>
                              </div>

                              <div class="game-hub-content-item2">

                                    <div class="row">
                                          <div class="col-md-6">

                                          </div>
                                          <div class="col-lg-6  col-md-12">
                                                      <h3 class="game-hub-list-title">PLUNGE INTO A <span style="font-size: 36px;">LEGENDARY QUEST<span></h3>
                                                      <p class="game-hub-description">
                                                            The sinister Black Mage and his minions have returned to terrorize Maple World after a defeat by six legendary heroes centuries ago. Now you are MapleStory’s only hope of eliminating the evil for good. Embark on a hero’s journey and become a champion capable of ridding the world of eternal darkness!
                                                      </p>
                                                      <a href="#"><button class="btn btn-outline-primary btn-xlarge3 game-hub-btn " type="submit">EXPLORE MAPLESTORY</button></a>
                                          </div>
                                    </div>

                              </div>

                              <div class="game-hub-content-item3">
                                    <div class="col-lg-6 col-md-12">
                                                <h3 class="game-hub-list-title">FORGE YOUR <span style="font-size: 38px;">MIGHTY HERO</span></h3>
                                                <p class="game-hub-description">
                                                      Create a gaming experience as unique as your personality by designing your own MapleStory hero. With over 20 unique classes to choose from, as well as an almost limitless number of cosmetic options, your hero will truly become one-of-a-kind.
                                                </p>
                                                <a href="#"><button class="btn btn-outline-primary btn-xlarge3 game-hub-btn" type="submit">CLASSES &amp; JOBS</button></a>
                                    </div>

                              </div>

                        </div>
                  </div>

                  <div class="row">
                        <div class="col-lg-4">
                              <div class="gamehub-bottom-item gamehub-item1">
                                    <a href="#">
                                          <h1 class=" col-lg-6 col-md-4 col-sm-4 gamehub-item-title">
                                                MAPLESTORY <span style="font-size: 40px; ">WIKI</span>
                                          </h1>
                                    </a>

                              </div>
                        </div>
                        <div class="col-lg-4">
                              <div class="gamehub-bottom-item gamehub-item2">
                                    <a href="#">
                                          <h1 class="col-lg-6 col-md-4 col-sm-4 col-xs-4 gamehub-item-title">
                                                MARVEL <span style="font-size: 40px; ">MACHINE</span>
                                          </h1>
                                    </a>
                              </div>
                        </div>
                        <div class="col-lg-4">
                              <div class="gamehub-bottom-item gamehub-item3">
                                    <a href="#">
                                          <h1 class="  col-md-6 gamehub-item-title" style="font-size: 40px; ">
                                                MEDIA
                                          </h1>
                                    </a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <%include ../partials/msfooter %>
  </body>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 <script src="public/index.js" type="text/javascript"></script>
</html>
