<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MapleStory - DJ DS</title>
    <link rel="icon" href="../img/MSimg/icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/maple-story.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Jomhuria" rel="stylesheet" type="text/css">
  </head>
  <body>
      <%include ../partials/msheader %>
      <div class="news-hub-content-bg">
            <h1 class="news-hub-title">
                  NEWS
            </h1>
            <div class="bottom-border">
                  <img src="../img/MSimg/border.png" alt="">
            </div>
      </div>
      <div class="news-hub-content">
            <br><br><br>
            <div class="container">

                  <div class="row">
                        <div class="col-md-12 ">
                              <h2 class="content-description">FEATURED NEWS</h2>
                              <br>
                        </div>
                  </div>
                  <div class="row margin-bottom">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                              <div class="thumbnail">
                                          <a href="#"><img src="../img/MSimg/content1.jpg" alt="Nova: Brilliance of Illium Patch Notes"></a>
                                          <div class="caption">
                                                <a href="#"><h3>v.191 – Nova: Brilliance of Illium Patch Notes</h3></a>
                                                <p>V.191 – Nova: Brilliance of Illium is live as of December 20. Click here to read the patch notes!</p>
                                                <p class="timeStamp">2 DAYS AGO</p>
                                                <p class="readMore"><a href="#">read more</a></p>
                                          </div>
                                    </div>
                              </div>

                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                              <div class="thumbnail">
                                    <a href="#"><img src="../img/MSimg/content2.jpg" alt="..."></a>
                                          <div class="caption">
                                                <a href="#"><h3>Holiday Events: December 13 – January 2</h3></a>
                                                <p>The holidays have come to Maple World! Check out the seasonal events we have in store this month!</p>
                                                <p class="timeStamp">2 DAYS AGO</p>
                                                <p class="readMore"><a href="#">read more</a></p>
                                          </div>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="news-hub-content-list">
            <img src="../img/MSimg/border_left.png" alt="left" class="float-left border-left">
            <img src="../img/MSimg/border_right.png" alt="right" class="float-right border-right">
            <br><br><br><br><br>
            <div class="container">
                  <div class="row">
                                    <div class="col-md-12 ">
                                          <h1 class="content-description">NEWS</h1>
                                          <br>
                                    </div>
                              </div>
                  <div class="single">
                                    <div class="row">
                                          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <a href="#"><img src="../img/MSimg/content5.jpg" alt="..."></a>
                                                </div>
                                          </div>
                                          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <div class="caption2">
                                                            <a href="#"><h3>2x EXP &amp; Drop Event: December 22 – 25</h3></a>
                                                            <p>Celebrate the Christmas weekend with four days of double the fun. Level up and power through Friday, Saturday, Sunday, and Monday with 2x EXP &amp; Drop!</p>
                                                            <p class="timeStamp">2 DAYS AGO</p>
                                                            <p class="readMore"><a href="#">read more</a></p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                  <div class="single">
                                    <div class="row">
                                          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <a href="#"><img src="../img/MSimg/content3.jpg" alt="..."></a>
                                                </div>
                                          </div>
                                          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <div class="caption2">
                                                            <a href="#"><h3>MapleStory Steam DLC Packages 30% Off This Winter</h3></a>
                                                            <p>Grab a package of useful items for 30% off during the Steam Winter Sale!</p>
                                                            <p class="timeStamp">2 DAYS AGO</p>
                                                            <p class="readMore"><a href="#">read more</a></p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                  <div class="single">
                                    <div class="row">
                                          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <a href="#"><img src="../img/MSimg/content4.jpg" alt="..."></a>
                                                </div>
                                          </div>
                                          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <div class="caption2">
                                                            <a href="#"><h3>Compensation for Recent Issues and Downtime</h3></a>
                                                            <p>As a token of our appreciation for your patience with the recent issues and downtime, we would like to offer you the following compensation.</p>
                                                            <p class="timeStamp">2 DAYS AGO</p>
                                                            <p class="readMore"><a href="#">read more</a></p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                  <div class="single">
                                    <div class="row">
                                          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <a href="#"><img src="../img/MSimg/content6.jpg" alt="..."></a>
                                                </div>
                                          </div>
                                          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <div class="caption2">
                                                            <a href="#"><h3>[Complete] Scheduled Minor Patch – December 21, 2017</h3></a>
                                                            <p>We will be performing a scheduled minor patch on Thursday, December 21, 2017 at 7:00 AM PST (10:00 AM EST / 4:00 PM CET / 2:00 AM AEDT).</p>
                                                            <p class="timeStamp3">DEC 20, 2017</p>
                                                            <p class="readMore"><a href="#">read more</a></p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
            </div>
      </div>
      <div class="news-hub-content-list-extend">
            <div class="container">
                  <div class="news-hub-content-items">
                        <div class="single">
                                    <div class="row">
                                          <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <a href="#"><img src="../img/MSimg/content7.jpg" alt="..."></a>
                                                </div>
                                          </div>
                                          <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 padding-0">
                                                <div class="thumbnail padding-0">
                                                      <div class="caption2">
                                                            <a href="#"><h3>[Updated] Cash Shop Update for December 20</h3></a>
                                                            <p>Check out MVP Surprise Style Boxes, an updated Surprise Pet Box, discounted Leveling Packages, tons of holiday items, and more!</p>
                                                            <p class="timeStamp3">DEC 20, 2017</p>
                                                            <p class="readMore"><a href="#">read more</a></p>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        <!-- <div class="moreNewsHere">

                        </div> -->
                  </div>
            </div>
            <div class="row moreNews">
                  <div class="col-lg-12 text-center">
                              <a><button class="btn btn-outline-primary btn-xlarge2">SEE MORE NEWS</button></a>
                  </div>
            </div>
      </div>
      <div class="footer">
            <div class="container">
                  <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
                              <ul class="link-list">
                                    <li class="link-item"><a href="#">Your Account</a></li>
                                    <li class="link-item"><a href="#">Get Support</a></li>
                                    <li class="link-item"><a href="#">About Nexon</a></li>
                                    <li class="link-item2"><a href="#">Privacy Policy</a></li>
                              </ul>
                        </div>
                  </div>

                  <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12 text-center">
                              <p class="footer-copy"><img class="nex_logo_footer" src="../img/MSimg/nex_logo.png" alt="">  © 2017 NEXON Korea Corporation and NEXON America Inc. All Rights Reserved</p>
                        </div>
                  </div>
            </div>
      </div>
  </body>
  <script src="../js/ms-js/ms-lib/jquery-min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js" type="text/javascript"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
 <script src="../js/ms-js/ms-lib/underscore-min.js"></script>
 <script src="../js/ms-js/ms-lib/backbone-min.js"></script>
 
 <script src="../js/ms-js/maplestory.js" type="text/javascript"></script>
  <script src="../js/ms-js/news-model.js" type="text/javascript"></script>

</html>
